.todo {
	background-color: white;
	border: 1px solid #d0d0d0;
	border-radius: 6px;
	padding: 15px;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.todo-done {
	text-decoration: 'line-through';
	color: #d0d0d0;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&-success {
		@extend .btn;
		color: #28a745;
		border-color: #28a745;
		margin-right: 10px;

		&:hover {
			color: #fff;
			background-color: #28a745;
			border-color: #28a745;
		}
	}

	&-danger {
		@extend .btn;
		color: #dc3545;
		border-color: #dc3545;

		&:hover {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
		}
	}
}

.buttons-wrapper {
	display: flex;
}

@media (max-width: 768px) {
	.todo {
		padding: 9px 7px;
		font-size: 14px;
	}
}
