.page {
	padding: 30px;
	background-color: floralwhite;
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}
