.page {
	width: 100vw;
	height: 100vh;
	background-color: floralwhite;
}

.container {
	max-width: 1140px;
	padding: 30px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		max-width: 960px;
	}
	@media (max-width: 992px) {
		max-width: 720px;
	}
	@media (max-width: 768px) {
		max-width: 540px;
		padding: 15px;
	}
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}
